:root {

    --font-primary-color: #FEFDFD;
    --font-helvetica: 'Helvetica', serif;
    --font-base-weight: 400;
    --font-base-color: #0F172A;

}


html,
body {
    overflow-x: hidden;
    touch-action: pan-y;
    margin: 0;
}


@font-face {
    font-family: Helvetica;
    src: url(./asset/Helvetica.ttf);
    font-weight: normal;
    font-style: normal;
}

header {
    background: #F8FAFC;
}

nav {
    max-width: 1320px;
    padding: 40px 10px 0 10px !important;
    padding: 0 10px;
    background: transparent;
    margin: 0 auto;
    display: flex;
    /* gap: 395px; */
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    gap: 32px;
    align-items: center;
    z-index: 1;
}

.nav-item {
    display: flex;
    gap: 8px;
    align-items: center;

}

.nav-item a {
    text-decoration: none;
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 18px;

    line-height: 160%;
    letter-spacing: 0%;
    color: #999999;
    padding: 7px 20px;
    border: 1px solid #BABABA;
    border-radius: 50px;
    transition: 0.3s ease;
    cursor: pointer;
}

.nav-item a:hover,
.nav-btn:hover {
    transform: scale(1.1);
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border: none;
    background: black;
    color: #FEFDFD;
    padding: 18px 24px;
    border-radius: 50px;
    cursor: pointer;


    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 0%;
    color: var(--font-primary-color);
    transition: 0.3s ease;
}

.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    background: #333;
    border-radius: 3px;
}

/* hero section */

.hero {
    background: #F8FAFC;
}

.hero-container {
    max-width: 1320px;
    padding: 0 10px 40px 10px;
    margin: 0 auto;
}

.hero-img {
    max-width: 1320px;
    margin-top: -4%;
    z-index: 0;
}

.hero-title {
    font-family: var(--font-helvetica);
    font-weight: 400;
    font-style: normal;
    font-size: 65px;

    line-height: 128%;
    letter-spacing: 0%;
    color: #0F172A;
    max-width: 606px;
    margin-bottom: 0;
}

.hero-content {
    margin-top: -2%;
    display: flex;
    align-items: end;
    position: relative;
}

.hero-para {
    position: absolute;
    bottom: 22%;
    right: 20%;
    width: 330px;

    font-family: var(--font-helvetica);
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    line-height: 160%;
    letter-spacing: -0.3px;
    text-align: right;
    color: #ffffff;

}


.img-card {
    position: relative;
}

.people {
    position: absolute;
    bottom: 26%;
    right: 1%;
}

.rating {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btnnn {
    position: absolute;

    left: 43%;
    transition: 0.3s ease;
}

.btnnn:hover {
    transform: scale(1.1);
}


.silder-containers {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;

}

.img-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.img-card.active {
    opacity: 1;
    position: relative;
    z-index: 1;
}


@keyframes slide {

    0%,
    20% {
        transform: translateX(0);
    }

    33%,
    53% {
        transform: translateX(-100%);
    }

    66%,
    86% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}


/* pop-up section */
.pop-up-container {
    max-width: 1340px;
    margin: 0 auto;

    padding: 64px 50px;
}

.content {
    background: #F7F5F2;
    display: flex;
    justify-content: space-between;
    margin-left: 392px;
    position: relative;
}

.ellipse {
    position: absolute;
    top: -20%;
    left: 74%;

}


.bed-play {
    position: absolute;
    top: 23%;
    left: -19%;

}

.bed {
    position: relative;
}

.play {
    position: absolute;
    top: 32%;
    left: 40%;
    cursor: pointer;
    transition: 0.3s ease;
}

.play:hover {
    transform: scale(1.1);
}


.gallery-content {
    background: #F7F5F2;


}

.gallery {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 24px;

    line-height: 100%;
    letter-spacing: 0%;
    color: #0E7490;
    margin-bottom: 12px;
}

.gallery-title {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0% !important;
    color: #0F172A;
    max-width: 400px;
    margin-bottom: 24px;
    margin-top: 0;
}

.gallery-desc {
    font-family: var(--font-helvetica);
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #3E3D3D;
    margin-bottom: 25px;
    max-width: 400px;
    max-height: 125px;
}

.gallery-content button {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding: 12px 16px;
    background: black;
    border: none;
    margin-bottom: 77px;
    transition: 0.3s ease;
}

.gallery-content button:hover {
    transform: scale(1.1);
}


/* expand */
.expand {
    background: #F8FAFC;
}

.expand-content {
    max-width: 1320px;
    padding: 134px 10px 168px 10px;
    margin: 0 auto;
    position: relative;
}



.expand-content h3 {
    font-family: var(--font-helvetica);
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0891B2;
    margin: 0;

}

.expand-content h1 {
    font-family: var(--font-helvetica);
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    line-height: 110px;
    letter-spacing: 0%;
    color: #0F172A;
    max-width: 885px;
    margin: 16px 0;
}

.expand-content p {
    font-family: var(--font-helvetica);
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    max-width: 885px;
    color: #475569;
}


.expand-img-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px;
    scrollbar-width: none;
    margin: 0 auto;
}

.expand-img-container::-webkit-scrollbar {
    display: none;
}

.img-compare-container {
    position: relative;
    flex: 0 0 auto;
    width: 1038px;
    height: 488px;
    overflow: hidden;
    background: #000;
    margin: 0 auto;
    
}


.img-compare {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: none;
}


.img-compare-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
    pointer-events: none;
}

.img-compare,
.img-compare-overlay img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 8px;
    background: white;
    cursor: ew-resize;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
}

.arrow-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: auto;
    pointer-events: none;
}



.bullet-nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 11px;
}

.nav-but {
    width: 5.83px;
    height: 0px !important;
    border: 1.25px solid #D1D1D1 !important;
    padding: 0 6px;
}

.nav-but.active {
    width: 11.08px ;
    height: 0px !important;
    border: 1.25px solid #0E7490 !important;
    padding: 0 6px;
}

.nav-arrows {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 28px;
    position: absolute;
}



.nav-arrows button {
    background:none;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0;
}




/* swiper */
.swiper-head {
    max-width: 1420px;
    padding: 43px 0 29px 60px;
    margin: 0 auto;
    display: flex;
    gap: 120px;
    /* position: relative; */
}

.gallery-container {
    position: relative;
}

.carosel-container {
    display: flex;
    /* gap: 32px; */
}


.swiper {
    width: 990px;
    height: 580px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.carosel-container {
    display: flex;
}

.carosel-card {
    width: 580px;
    height: 580px;
    object-fit: cover;
}

.swiper-slide {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}


.swiper-pagination {
    position: absolute;

    content: "";

}

.swiper-pagination-bullets.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: absolute;
    left: -22% !important;
    bottom: 20% !important;
}

.swiper-pagination-bullet {
    width: 5.83px !important;
    height: 0px !important;
    border: 1.25px solid #D1D1D1 !important;
}

.swiper-pagination-bullet-active {
    width: 11.08px !important;
    height: 0px !important;
    border: 1.25px solid #0E7490 !important;
}



.swiper-button-next:after {
    position: absolute;
    content: "";
    right: 677% !important;
    bottom: -360% !important;
    background: #155E75 !important;
    color: #ffffff;
    padding: 6px 9px;
    font-size: 12px !important;

    border-radius: 12px;
    width: 6px;
    height: 12px;
}

.swiper-button-prev:after {
    position: absolute;
    content: "";
    left: 80% !important;

    bottom: -360% !important;
    background: #155E75 !important;
    color: #ffffff;
    padding: 6px 9px;
    font-size: 12px !important;

    border-radius: 12px;
    width: 6px;
    height: 12px;
}




/* everywhere */
.everywhere {
    background: #E6E6E6;

}

.everywhere-container {
    background-image: url('./asset/Desktop\ -\ 11.svg');
    max-width: 1440px;
    max-height: 780px;
    margin: 0 auto;
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.everywhere-icon {
    display: flex;
    flex-direction: column;
}

.icon-btn {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 42px;
    margin-left: 441px;
}

.icon-2 {
    margin-top: 146px;
    margin-left: 144px;
}

.icon-btn-2 {
    margin-top: 57px;
    margin-left: 48px;
    transition: transform 0.15s ease;
    cursor: pointer;
    max-width: 191px;
}

.icon-btn-2:hover {
    transform: scale(1.1);

}

.everywhere-content {
    padding: 388px 0 56px 50px;
    /* text-align: end; */
    max-width: 610px;
}

.panoska {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: 0%;
    color: #191F29;
    margin-bottom: 32px;
    margin-top: 0;
}

.everywhere-content p {
    font-family: var(--font-helvetica);
    font-weight: 400;
    font-style: normal;
    font-size: 24px;

    line-height: 36px;
    letter-spacing: 0%;
    color: #3E3D3D;
    margin-bottom: 0;


}

/* Countdown */

.countdown {
    background: #000000;
}

.countdown-container {
    max-width: 1440px;
    padding: 64px 0px 64px 50px;
    margin: 0 auto;
}

.countdown-container-title {
    max-width: 1003px;
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 54px;
    letter-spacing: 0%;
    color: #FFFFFF;
    margin-bottom: 80px;
}

.count-container {
    display: flex;
    gap: 104px;
    color: #FFFFFF;
}

.count h1 {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 60px;
    line-height: 54px;
    letter-spacing: 0%;
    margin-bottom: 0;
    margin-top: 0;
    /* transition: all 0.3s ease; */
}

.count p {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 0;

}

.count-btn {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    border: 1px solid #FFFFFF;
    background: transparent;
    border-radius: 36px;
    color: #FFFFFF;
    padding: 8px 24px;
    margin-top: 64px;
    transition: 0.3s ease;
}

.count-btn:hover {
    transform: scale(1.1);
}


/* choose apartment */
.choose-container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.choose-container h1 {
    max-width: 503px;
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 80px;

    line-height: 100px;
    letter-spacing: 0%;
    color: #0F172A;
    margin-bottom: 96px;
}

.choose-container p {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    margin-bottom: 24px;
}

.choose-container img {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 64px;
}

.floor-container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;

}

.floor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 56px;

}

.floor-dropdown {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.floor-dropdown label {
    font-family: var(--font-helvetica);
    font-weight: 300;
    font-style: Light Condensed;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--font-base-color);
}

#floor-select {
    padding-right: 20px;
    padding-bottom: 8px;

    background-repeat: no-repeat;
    background-position: right center;
    background-size: 12px;
    border: none;
    width: 170px;
    border-bottom: 1px solid black;
}

.rooms-container h6 {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
    color: var(--font-base-color);
    margin: 0;
}

.rooms-container {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.room-number {
    margin-top: 16px;
    /* display: flex; */
    gap: 12px;
}

.room-number a {
    width: 40px !important;

    text-decoration: none;
    padding: 11px 16px;
    border-radius: 20px;
    background: #E2E8F0;
    margin-top: 16px;

    font-family: var(--font-helvetica);
    font-weight: 400;

    font-size: 14px;

    line-height: 100%;
    letter-spacing: 0%;
    color: var(--font-base-color);
    cursor: pointer;
    margin-right: 10px;
}

.property-table {
    padding-bottom: 40px;
}

.property-table table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-helvetica);
}

/* Header styles */
.property-table th {
    padding: 12px 10px;
    text-align: center;
    background-color: #E2E8F0;
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0%;
    color: var(--font-base-color);
    border-bottom: 1px solid #cbd5e1;
}


.property-table td {
    padding: 12px 10px;
    text-align: center;
    border-bottom: 1px solid #e0e4eb;
    font-size: 16px;

    font-family: var(--font-helvetica);
}

.property-table tbody tr:nth-child(odd) {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    background-color: #F1F5F9;

    font-size: 16px;
    color: #475569;

}

.property-table tbody tr:nth-child(even) {
    background-color: #E2E8F0;
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);

    color: #1E293B;
    font-size: 16px;

}

.property-table button {
    padding: 6px 10px;
    font-size: 12px;
    border: 1px solid #ccc;

    background-color: #fff;
    cursor: pointer;
}


.availability:hover {
    transform: scale(1.1);
    background: yellow;
    color: black;
    cursor: pointer;

}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
}

.modal-content input {
    width: 90%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content button {
    margin-top: 10px;
    padding: 6px 12px;
}

.apartment-btn {
    text-align: center;
    margin-bottom: 65px;
}

.apartment-btn button {
    font-family: var(--font-helvetica);
    font-weight: 400;

    font-size: 16px;

    line-height: 16px;
    letter-spacing: 0%;
    color: #ffffff;
    padding: 12px 16px;
    background: #333935;
    border: none;
    transition: 0.3s ease;
}

.apartment-btn button:hover {
    transform: scale(1.1);
}

/* footer */

.footer {
    background: #1E293B;
}

.footer-container {
    padding-top: 80px;
    max-width: 1320px;
    padding: 80px 10px 0 10px;
    margin: 0 auto;
}

.footer-1 {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.footer-1-menu {
    display: flex;
    gap: 31px;
}

.footer-1-menu a {
    padding: 2px 10px;

    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 16px;

    line-height: 26px;
    letter-spacing: 1%;
    color: #ffffff;
    text-decoration: none;
}

.footer-1-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.footer-1-p {
    font-family: var(--font-helvetica);
    max-width: 409px;
    font-weight: 700;
    font-style: Bold;
    font-size: 25px;

    line-height: 100%;
    letter-spacing: 1%;
    text-align: right;
    color: #ffffff;
    margin: 0;
}

.email {
    padding: 17px 0px 17px 24px;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50px;

    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 18px;

    line-height: 28px;
    letter-spacing: 3%;
    vertical-align: middle;
    /* position: relative; */
    width: 409px;
}

.email-div {
    position: relative;
}

.arrow {
    position: absolute;
    right: 3px;
    top: 2px;
}

.f-logo {
    width: 158px;
    height: 32px;
}

.footer-2-item {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.f-2-p {
    font-family: var(--font-helvetica);
    font-weight: var(--font-base-weight);
    font-style: normal;
    font-size: 15px;

    line-height: 160%;
    letter-spacing: 0%;
    color: #FFFFFF;
    max-width: 293px;
    margin: 0;

}

.social-icon {
    display: flex;
    gap: 25px;
}

.social-icon a {
    text-decoration: none;
    padding: 12px 22px;
    border: 1px solid #FFFFFF;
    border-radius: 50px;


    font-family: var(--font-helvetica);
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 1%;
    color: #ffffff;

}

.footer-2 {
    display: flex;
    align-items: end;
    justify-content: space-between;
    /* border: 1px solid white; */
    margin-top: -8px;
    padding-bottom: 44px;
}

.footer-bottom {
    background: #191D23;

}

.footer-bottom-1 {
    max-width: 1320px;
    padding: 15px 10px;
    margin: 0 auto;
    display: flex;
    /* gap: 929px; */
    align-items: center;
    justify-content: space-between;
}


.condition {
    display: flex;
    gap: 55px;
}

.copyright {
    font-family: var(--font-helvetica);
    font-weight: 300;
    font-style: Light Condensed !important;
    font-size: 16px;

    line-height: 23px;
    letter-spacing: 1% !important;
    color: #D7D7D7;
    margin: 0;
}

.condition a {
    text-decoration: none;

    font-family: var(--font-helvetica);
    font-weight: 300;
    font-style: Light Condensed;
    font-size: 14.5px;

    line-height: 23px;
    letter-spacing: 1%;
    color: #D7D7D7;
}


@media only screen and (max-width:576px) {
    .hamburger {
        display: flex;
    }

    .nav-items {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        background: white;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        border-top: 1px solid #eee;
    }

    .nav-items.active {
        margin-top: 30px;
        max-height: 400px;
        opacity: 1;
        padding: 20px;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-btn-div {
        margin: 0 auto;
    }

    .nav-btn {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }

    /* hero */

    .hero-container {
        max-width: 100%;
    }

    .img-card {
        width: 100%;
        max-height: 100%;
    }

    .hero-img {
        margin-top: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .hero-para {
        /* width: 100%; */
        width: 150px;
        font-size: 10px;
    }

    .people {
        max-width: 15%;
        right: 2%;
    }

    .rating {
        max-width: 26%;
    }

    .hero-content {
        max-width: 100%;
        margin-top: 0;
    }

    .hero-title {
        font-size: 100%;
    }

    .btnnn {
        max-width: 100%;
        left: 29%;
    }

    .btnnn img {
        max-width: 30%;
    }

    .review {
        max-width: 100%;
    }

    /* popup */
    .pop-up-container {
        max-width: 100%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #F7F5F2;

    }

    .content {
        flex-direction: column;
        margin-left: 0;
        max-height: 100%;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        padding: 0 10px;
    }

    .pop-content {
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }

    .bed-play {
        max-width: 100%;
        left: 0;
    }

    .bed {
        max-width: 100%;
    }

    .ellipse {
        max-width: 50%;
        top: -60%;
        left: 45%;
    }

    .gallery-content {
        margin-top: 145%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .gallery {
        margin-top: 0;
    }

    /* expand image */
    .expand{
        max-height: 100%;
    }
    .expand-content h1 {
        font-size: 30px;
        line-height: 40px;
        max-width: 100%;
    }

    .expand-img-container{
        width: 100%;
        height: 100%;
    }
    .img-compare-container{
        width: 95vw;
        overflow-x: hidden;
    


    }

    /* scroll section */
    .swiper-head {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }

    .swiper {
        /* width: 494.667px; */
        width: 155%;
    }

    .swiper-pagination-bullets.swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        position: absolute;
        left: -8% !important;
        bottom: -29% !important;
    }

    .swiper-button-next:after {
        position: absolute;
        content: "";
        right: 392% !important;
        bottom: -515% !important;
        background: #155E75 !important;
        color: #ffffff;
        padding: 6px 9px;
        font-size: 12px !important;

        border-radius: 12px;
        width: 6px;
        height: 12px;
    }

    .swiper-button-prev:after {
        position: absolute;
        content: "";
        left: 210% !important;

        bottom: -515% !important;
        background: #155E75 !important;
        color: #ffffff;
        padding: 6px 9px;
        font-size: 12px !important;

        border-radius: 12px;
        width: 6px;
        height: 12px;
    }


    /* everywhere */
    .everywhere-container {
        /* flex-direction: column; */
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;

    }

    .everywhere-icon {
        max-width: 100%;

    }

    .icon-btn {
        margin-top: 3%;
        margin-left: 44%;
        width: 50%;
        gap: 5px;
    }

    .icon-btn img {
        max-width: 100%;
    }

    .icon-2 {
        width: 50%;
        margin-top: 19%;
        margin-left: 10%;
    }

    .icon-2 img {
        max-width: 100%;
    }

    .icon-btn-2 {
        max-width: 50%;
        margin-left: 7%;
        margin-top: 5%;
    }

    .icon-btn-2 img {
        max-width: 100%;
    }

    .everywhere-content {
        max-width: 50%;
        padding: 10px;
    }

    .everywhere-content p {
        font-size: 10px;
        line-height: 18px;
    }

    .panoska {
        font-size: 24px;
        line-height: 22px;
    }


    /* countdown */
    .countdown-container {
        max-width: 100%;
        padding: 10px;
    }

    .countdown-container-title {
        font-size: 30px;
        line-height: 35px;
    }

    .count-container {
        gap: 15px;
    }

    .count h1 {
        font-size: 25px;
    }

    .count p {
        font-size: 12px;
        line-height: 20px;
    }

    /* choose section */
    .choose-container {
        max-width: 100%;
        max-height: 100%;
    }



    .choose-container h1 {
        font-size: 50px;
        line-height: 52px;
        margin-bottom: 0;
    }

    .floor-container {
        max-width: 100%;
        max-height: 100%;
    }

    .floor {
        flex-direction: column;
        align-items: flex-start;
    }

    .floor-dropdown {
        padding-bottom: 20px;
    }

    .room-number a {
        padding: 4px;
        margin-right: 4px;
    }

    .property-table {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .property-table table {
        width: 900px;
    }

    .property-table th,
    .property-table td {
        font-size: 12px;
        padding: 8px 6px;
    }

    .apartment-btn button {
        font-size: 14px;
        padding: 10px 14px;
    }

    .modal-content {
        width: 90%;
    }



    /* footer */
    .footer-container {
        max-width: 100%;
        max-height: 100%;
    }

    .footer-1 {
        flex-direction: column;
        text-align: start;
    }

    .footer-1-menu {
        gap: 0;
    }

    .footer-1-menu a {
        font-size: 12px;
        line-height: 16px;
        padding: 2px 5px;
    }

    .footer-1-form {
        text-align: start;
        align-items: flex-start;
    }

    .footer-1-p {
        max-width: 100%;
        font-size: 15px;
        text-align: start;
        padding-top: 20px;
    }

    .email {
        width: 100%;
        margin-bottom: 10%;
    }

    .arrow {
        right: -10%;
    }

    .footer-2 {
        flex-direction: column;
        align-items: start;
    }

    .social-icon {
        gap: 10px;
    }

    .social-icon a {
        font-size: 10px;
        padding: 8px 5px;
        line-height: 10px;
        align-items: center;
    }

    .footer-bottom-1 {
        flex-direction: column;
    }
}



@media only screen and (min-width: 577px) and (max-width: 1024px) {
    .hamburger {
        display: flex;
        /* show hamburger */
    }

    .nav-items {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        background: white;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        border-top: 1px solid #eee;
        transition: all 0.3s ease;
    }

    .nav-items.active {
        margin-top: 30px;
        max-height: 400px;
        opacity: 1;
        padding: 20px;
    }

    .nav-item {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-btn-div {
        margin: 0 auto;
    }

    .nav-btn {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .hamburger.open span:nth-child(1) {
        transform: rotate(45deg) translateY(8px);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open span:nth-child(3) {
        transform: rotate(-45deg) translateY(-8px);
    }


    /* hero */

    .hero-container {
        max-width: 100%;
    }

    .img-card {
        width: 100%;
        max-height: 100%;
    }

    .hero-img {
        margin-top: 0;
        max-width: 100%;
        max-height: 100%;
    }

    .hero-para {
        /* width: 100%; */
        width: 150px;
        font-size: 10px;
    }

    .people {
        max-width: 15%;
        right: 2%;
    }

    .rating {
        max-width: 26%;
    }

    .hero-content {
        max-width: 100%;
        margin-top: 0;
    }

    .hero-title {
        font-size: 40px;
    }

    .btnnn {
        max-width: 100%;
        left: 45%;
    }

    .btnnn img {
        max-width: 50%;
    }

    .review {
        max-width: 100%;
    }


    /* pop up */
    .pop-up-container {
        max-width: 100%;
    }

    .content {
        margin-left: 0;
    }

    .bed-play {
        position: relative;
        padding: 0 0 0 61px;
    }

    .bed {
        max-width: 100%;
    }

    .play {
        max-width: 100%;
    }


    /* swiper */
    .swiper-head {
        max-width: 100%;
        max-height: 100%;
        gap: 20px;
        padding: 10px;
    }

    .gallery-container {
        max-height: 100%;
    }

    .gallery-title {
        font-size: 30px;
        line-height: 38px;
        max-width: 100%;
    }

    .gallery-desc {
        font-size: 12px;
        margin-top: 0;
    }


    .swiper {
        /* width: 494.667px; */
        width: 155%;
    }

    .swiper-pagination-bullets.swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        position: absolute;
        left: -4% !important;
        bottom: 6.5% !important;
    }

    .swiper-button-next:after {
        position: absolute;
        content: "";
        left: -80% !important;
        bottom: -540% !important;
        background: #155E75 !important;
        color: #ffffff;
        padding: 6px 9px;
        font-size: 12px !important;

        border-radius: 12px;
        width: 6px;
        height: 12px;
    }

    .swiper-button-prev:after {
        position: absolute;
        content: "";
        left: 0% !important;

        bottom: -540% !important;
        background: #155E75 !important;
        color: #ffffff;
        padding: 6px 9px;
        font-size: 12px !important;

        border-radius: 12px;
        width: 6px;
        height: 12px;
    }


    /* everywhere */
    .everywhere-container {
        /* flex-direction: column; */
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        object-fit: cover;

    }

    .everywhere-icon {
        max-width: 100%;

    }

    .icon-btn {
        margin-top: 3%;
        margin-left: 61%;
        width: 50%;
        gap: 5px;
    }

    .icon-btn img {
        max-width: 100%;
    }

    .icon-2 {
        width: 50%;
        margin-top: 19%;
        margin-left: 20%;
    }

    .icon-2 img {
        max-width: 100%;
    }

    .icon-btn-2 {
        max-width: 50%;
        margin-left: 7%;
        margin-top: 5%;
    }

    .icon-btn-2 img {
        max-width: 100%;
    }

    .everywhere-content {
        max-width: 50%;
        padding: 10px;
    }

    .everywhere-content p {
        font-size: 16px;
        line-height: 18px;
    }

    .panoska {
        font-size: 36px;
        line-height: 36px;
    }

    /* countdown */

    .countdown-container {
        max-width: 100%;
        padding: 10px;
    }

    .count-container {
        gap: 20px;
    }

    .count h1 {
        font-size: 45px;
    }


    /* floor table */


    .floor-container {
        max-width: 100%;
        max-height: 100%;
    }

    .floor {
        flex-direction: column;
        align-items: flex-start;
    }

    .floor-dropdown {
        padding-bottom: 20px;
    }

    .room-number a {
        padding: 10px;
        margin-right: 4px;
    }

    .property-table {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    .property-table table {
        width: 1024px;
    }

    .property-table th,
    .property-table td {
        font-size: 12px;
        padding: 8px 6px;
    }

    .apartment-btn button {
        font-size: 14px;
        padding: 10px 14px;
    }

    .modal-content {
        width: 90%;
    }


    /* footer */
    .footer-container {
        max-width: 100%;
        max-height: 100%;
    }

    .footer-1 {
        flex-direction: column;
        text-align: start;
    }

    .footer-1-menu {
        gap: 0;
        margin-bottom: 10px;
    }

    .footer-1-menu a {
        font-size: 22px;
        line-height: 16px;
        padding: 2px 9px;
    }

    .footer-1-form {
        text-align: start;
        align-items: flex-start;
    }

    .footer-1-p {
        max-width: 100%;
        font-size: 23px;
        text-align: start;
        padding-top: 20px;
    }

    .email {
        width: 100%;
        margin-bottom: 10%;
    }

    .arrow {
        right: -10%;
    }

    .footer-2 {
        flex-direction: column;
        align-items: start;
    }

    .f-2-p {
        max-width: 100%;
    }

    .social-icon {
        gap: 10px;
        margin-top: 15px;
    }

    .social-icon a {
        font-size: 12px;
        padding: 8px 5px;
        line-height: 16px;
        align-items: center;
    }

    .footer-bottom-1 {
        /* flex-direction: column; */
    }



}


@media only screen and (min-width: 1025px) and (max-width: 1250px) {
    .nav {
        max-width: 100%;
    }

    .hero-img {
        margin-top: 0;
        max-width: 100%;
    }

    .nav-items {
        gap: 5px;
    }

    .btnnn {
        left: 38%;
    }

    .btnnn img {
        max-width: 80%;
    }

    .content {
        margin-left: 220px;
    }


    .swiper-pagination-bullets.swiper-horizontal>.swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
        position: absolute;
        left: -8% !important;
        bottom: 4% !important;
    }

    .swiper-button-next:after {
        position: absolute;
        content: "";
        right: 240% !important;
        bottom: -572% !important;
        background: #155E75 !important;
        color: #ffffff;
        padding: 6px 9px;
        font-size: 12px !important;

        border-radius: 12px;
        width: 6px;
        height: 12px;
    }

    .swiper-button-prev:after {
        position: absolute;
        content: "";
        left: 105% !important;

        bottom: -572% !important;
        background: #155E75 !important;
        color: #ffffff;
        padding: 6px 9px;
        font-size: 12px !important;

        border-radius: 12px;
        width: 6px;
        height: 12px;
    }


    .panoska {
        font-size: 48px;
        line-height: 50px;
    }

    .everywhere-content p {
        font-size: 22px;
    }


}